.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px ;

}
.price{
    color: #FF136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-image: linear-gradient(to bottom, #ffa500 0%, #f8ae25);
}
.cat-2{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.cat-3{
   
 background-image: linear-gradient(to bottom, #0000ff 0%, #1919f1 100%);
    
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;

}
.card-footer{
    background-color: white;
    border-top: none;
    
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}
.size{
    width: 200px;
}